.top_navBox {
  /* background: url("../Img/MangoMedicalBanner.svg") ,no-repeat; */
  background-position: center;
  height: 715px;
  width: 100%;
  background-size: cover;
  background: linear-gradient(109.95deg, #117A6E 12.19%, #14A144 55.55%, #092330 98.9%);
  mix-blend-mode: darken;
  /* text-align: center; */
  position: relative;
}

.img_Wave {
  bottom: -50px;
  display: flex;
  width: 100%;
  /* aspect-ratio: 3/2; */
  justify-content: center;
}

/* .img_Wave img{
    
} */
.top_tabs {
  background: url("../Img/Rectangle 3.png") no-repeat;
  background-position: center;
  height: 1053px;
  width: 101%;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;

}

.MuiCard-root {
  margin: 0 auto;
}

.carddrowerlast {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  letter-spacing: -0.02em;

  color: #091a2a;
}

.css-1riujay {
  width: 50%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.scrollimg2 {
  position: absolute;
  top: 50%;
  right: 10%;
}

.navpara {
  width: 75%;
}

/* .logo_img {
  width: 150px;
  height: 100px;
} */
.wave1_nav{
  background-image: url(../Img/lowerWave.svg);
  width: 100%;
  height: 230px;
  z-index: -1 ;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -2px;
  filter: drop-shadow(0px -14px 2px rgba(0, 0, 0, 0.25));

}
.skullimg{
  z-index: 9999999999 !important;
}

/* @media (max-width:2560px) {
  .wave1_nav{
    bottom: -40px;
    width: 100%;
    height: 300px;
   
  
  }
}
@media (max-width:1440px) {
  
} */

@media (max-width:1280px) {
  .skullimg {
    width: 100%;
  
    /* transform: scale(1.1); */
    padding-top: 50px;

  }
}


.wavesall {
  width: 100%;
  height: 300px;
}

.wave1 {
  background: url("../Img/Mask group (1).svg")no-repeat;
  width: 100%;
  width: 100%;
  height: 307px;
  background-size: cover;
  position: absolute;
  top: -4px;
  filter: drop-shadow(0px 14px 2px rgba(0, 0, 0, 0.25));
  line-height: 0;
  z-index: 171;
  background-position: center;

}

.wave2 {
  background: url("../Img/lowerWave.svg")no-repeat;
  width: 100%;
  height: 280px;
  background-size: cover;
  position: absolute;
  bottom: -40px;
  line-height: 0;
  background-position: center;
  filter: drop-shadow(0px -14px 2px rgba(0, 0, 0, 0.25))
}

/*  dots   */
.css-1m9128y {
  display: none;
}