.top_navBox{
 background: url('../Img/MangoMedicalBanner.svg')no-repeat;
 background-position: center;
 height: 750px;
 width: 100%;
 background-size: cover;
 /* text-align: center; */
}

.img_Wave{
    bottom: -50px;
   display: flex;
    width: 100%;
    /* aspect-ratio: 3/2; */
    justify-content: center;

    
}
/* .img_Wave img{
    
} */
.top_tabs{
    background: url('../Img/MangoMedicalSection.svg')no-repeat;
    background-position: center;
    height: 880px;
    width: 100%;
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.MuiCard-root{
    margin: 0 auto;
    
}
.carddrowerlast{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */

letter-spacing: -0.02em;

color: #091A2A;

}